# python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.egg-info/
dist/
build/

# venv
venv/
autotest/.venv/

# IDE
.idea/
.vscode/

# pytest / allure
.pytest_cache/
autotest/allure-results/
autotest/logs/

# misc
.DS_Store